@font-face {
  font-family: Montserrat;
  src:
    url(./fonts/otf/Montserrat-Regular.otf),
    url(./fonts/Montserrat-Regular.ttf);
}

html {
  font-family: Montserrat;
}

html p,
span {
  font-size: 1.2rem;
  text-align: justify;
}

section {
  display: flex;
  flex-direction: column;
  /* min-width: 1080px;
    padding: 0 50px; */
  text-align: center;
  box-sizing: border-box;
}

.header img {
  width: 100%;
}

.header h1 {
  color: #ffffff;
  text-align: right;
  margin-top: -200px;
  margin-right: 70px;
  font-weight: 1000;
}


.texto {
  width: 100%;
}

.recuo p {
  text-indent: 2em;
}

.bold {
  font-weight: 1000;
}

.page {
  background: #000;
  width: 100%;
  height: 2px;
  text-align: center;
  margin: 50px 0;
  padding: 0;
}

.page span {
  background: #fff;
  padding: 5px;
  display: inline-block;
  position: relative;
  top: -15px;
  font-size: 18px;
  font-weight: bold;
}

.up {
  text-transform: uppercase;
}


.titulo h1 {
  font-weight: 1000;
  font-size: 36px;
}

.subtitulo h2 {
  font-size: 34px;
  font-weight: 1000;
}

.subtitulo h3 {
  font-weight: 1000;
}

.linha {
  background: #000;
  width: 100%;
  height: 1px;
  margin: 30px auto;
  padding: 0;
}

.recuo-linha {
  margin-left: 3em !important;
  margin-right: 3em !important;
  width: calc(100% - 3em) !important;
}

.referencia {
  margin-left: 9em !important;
  font-size: 12px;
  width: calc(100% - 3em) !important;
}

.inicial {
  margin-top: 150px;
}

/*
--------------------------------
Shapes
--------------------------------
*/
.retangulo-branco {
  border-radius: 10px;
  border: 2px solid #d36b32;
  min-height: 230px;
  margin: 10px;
  width: 100%;
  padding: 20px 20px 0px 20px;

}

.retangulo-laranja {
  border-radius: 10px;
  border: 2px solid #d36b32;
  background-color: #efceb0;
  padding: 20px 20px 0px 20px;
  margin: 10px;
}

.retangulo-laranja-2 {
  border-radius: 50px;
  background-color: #fcd399;
  padding: 30px 30px 20px 30px;
}

/*
--------------------------------
Cores
--------------------------------
*/
.azul {
  color: #1b89cb;
}

.laranja {
  color: #d36b32;
}

.laranja-2 {
  color: #d89556;
}

.roxo {
  color: #6e2c91;
}

.centralizado {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

/* .centralizado img {
    width: 100%;
} */

/*
--------------------------------
Setas
--------------------------------
*/

.seta-azul {
  border-left: 14px solid #1b89cb;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  float: left;
  margin-right: 5px;
  margin-top: 4px;
}

.seta-laranja {
  border-left: 14px solid darkorange;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  float: left;
  margin-right: 5px;
  margin-top: 4px;
}

.seta-verde {
  border-left: 12px solid #00afaa;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  float: left;
  margin-right: 25px;
  margin-top: 9px;
}

.seta {
  border-left: 8px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  float: left;
  margin-right: 5px;
  margin-top: 9px;
}

.espelhado {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


/*
--------------------------------
Widths
--------------------------------
*/
.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w35 {
  width: 35%;
}

.w40 {
  width: 40%;
}

.w45 {
  width: 45%;
}

.w50 {
  width: 50%;
}

.w55 {
  width: 55%;
}

.w60 {
  width: 60%;
}

.w65 {
  width: 65%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w85 {
  width: 85%;
}

.w90 {
  width: 90%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100%;
}