    @font-face {
      font-family: Myriad;
      src: url(../font/MyriadPro-BoldCond.otf);
    }

    #prova-brasil h1,
    #prova-brasil h2,
    #prova-brasil h3 {
      font-family: Myriad;
    }

    section#prova-brasil {
      display: flex;
      flex-direction: column;
      min-width: 1080px;
      padding: 0 50px;
      text-align: center;
      box-sizing: border-box;
    }

    section#prova-brasil>div {
      align-items: center;
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    section#prova-brasil>div div {
      text-align: justify;
      width: 1080px;
      padding: 50px;
      box-sizing: border-box;
    }

    #prova-brasil h1 {
      color: #F07528;
      text-align: center;
      font-size: 80px;
    }

    #prova-brasil h2 {
      color: #F79B2A;
      text-align: left;
      font-size: 37px;
      margin: 70px 30px 0;
    }

    #prova-brasil h3 {
      font-size: 30px;
      margin: 35px 10px 0;
    }

    #prova-brasil strong {
      color: #F07528;
    }

    #prova-brasil p {
      font-size: 25px;
      max-width: 1080px;
    }

    #prova-brasil p:not(".texto-implica>p") {
      text-align: justify;
    }

    #prova-brasil p.tc {
      text-align: center;
      font-size: 20px;
    }

    #prova-brasil .quadrinhos-cabecalho p {
      font-size: 20px;
      margin: 0;
    }

    #prova-brasil .carta-data {
      text-align: right;
    }

    #prova-brasil .page {
      background: #000;
      width: 100%;
      height: 2px;
      text-align: center;
      margin: 100px 0;
      padding: 0;
    }

    #prova-brasil .page span {
      background: #fff;
      padding: 5px;
      display: inline-block;
      position: relative;
      top: -15px;
      font-size: 18px;
      font-weight: bold;
    }

    #prova-brasil .lines {
      background: #000;
      width: 100%;
      height: 1px;
      margin: 50px 0;
      padding: 0;
    }

    #prova-brasil .palavra-linha {
      background: #000;
      width: 100%;
      height: 1px;
      text-align: left;
      margin: 80px 40px;
      padding: 0;
    }

    #prova-brasil .palavra-linha span {
      background: #fff;
      padding: 2px;
      display: inline-block;
      position: relative;
      top: -25px;
      font-size: 25px;
    }

    #prova-brasil .palavra-linha-half {
      background: #000;
      width: 281px;
      height: 1px;
      text-align: left;
      margin: 80px 40px;
      padding: 0;
    }

    #prova-brasil .palavra-linha-half span {
      background: #fff;
      padding: 2px;
      display: inline-block;
      position: relative;
      top: -25px;
      font-size: 25px;
    }

    #prova-brasil .palavra-linha-allign {
      display: flex;
    }

    #prova-brasil .ref {
      font-size: 15px;
      text-align: center;
    }

    #prova-brasil .quadrinhos {
      width: 100%;
      height: 670px;
    }

    #prova-brasil .tirinha {
      width: 100%;
      height: 300px;
    }

    #prova-brasil .quadrinhos-cap45 {
      width: 100%;
      height: 400px;
      text-align: center;
    }

    #prova-brasil .quadrinhos-cabecalho {
      height: 40px;
    }

    #prova-brasil .quadrinhos-table {
      border: 1px solid black;
    }

    #prova-brasil .table-silaba {
      width: 500px;
      height: 45px;
    }

    #prova-brasil .palavra-table {
      display: flex;
    }

    #prova-brasil .palavra-table th {
      border: 1px solid black;
    }

    #prova-brasil .palavra-table p {
      margin-top: 7px;
    }

    #prova-brasil .box-laranja {
      background-color: #FDEBD4;
      box-sizing: border-box;
      font-style: italic;
      padding: 20px;
      border-radius: 10px;
      font-size: 25px;
      width: 100%;
    }

    #prova-brasil .box-implica {
      display: inline-flex;
      align-items: center;
      margin: -60px 275px;
      padding: 0;
    }

    #prova-brasil .texto-implica {
      margin: 0 20px;
      width: 150px;
      text-align: center;
    }

    #prova-brasil .implica {
      height: 2px;
      background: #000;
      width: 200px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      padding: 0;
    }

    #prova-brasil .implica::after {
      content: "";
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 10px;
      border-top-width: 10px;
      border-left: 20px solid black;
    }

    #prova-brasil .implica::before {
      content: "";
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-top-width: 10px;
      border-bottom-width: 10px;
      border-right: 20px solid black;
    }

    #prova-brasil .seta-inicio {
      position: relative;
      display: inline-block;
      margin-bottom: 100px;
    }

    #prova-brasil .texto-seta-inicio {
      position: absolute;
      height: 100%;
      text-align: left;
      width: 100%;
      padding: 0;
    }

    #prova-brasil .texto-seta-inicio h2 {
      margin-top: 38px;
      margin-left: 69px;
      display: inline-block;
      color: #fff;
      font-size: 53px;
    }

    #prova-brasil .seta-inicio img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    #prova-brasil .cabecalho {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }

    #prova-brasil .cabecalho img,
    #prova-brasil .cabecalho h2 {
      display: inline-block;
      margin: 0 10px 0 0;
    }

    #prova-brasil .icones {
      margin-top: 90px;
      margin-bottom: 5px;
    }

    #prova-brasil #detalhe-inicio {
      margin-bottom: 110px;
      width: 100%;
    }

    #prova-brasil #detalhe-fim {
      align-self: baseline;
      margin-top: 100px;
      width: 100%;
    }

    @media screen and (max-width: 800px) {
      #prova-brasil p:not(".texto-implica>p") {
        text-align: left;
        font-size: 16px;
        max-width: 1080px;
      }
    }

    .capitular::first-letter {
      float: left;
      font-size: 5em;
      margin: 0 .2em 0 0;
    }

    /*
    ########################################
    # Imagens                              #
    ########################################
    */

    .w100 {
      width: 100%;
    }